version: "3.9"
services:
  backend-dev:
    build:
      context: .
      target: development
    container_name: eventide-backend-dev
    ports:
      - "3000:3000"
    env_file: .env
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run start:dev

  backend-prod:
    build:
      context: .
      target: production
    container_name: eventide-backend-prod
    ports:
      - "4000:3000"
    env_file: .env
    command: npm run start:prod
